body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    user-select: none;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 36px;
  }
  
  .drum-pad {
    display: inline-block;
    width: 120px;
    height: 120px;
    margin: 20px;
    background-color: #5c6bc0;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    padding-top: 50px;
    position: relative;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .drum-pad:hover {
    background-color: #3949ab;
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  .key-letter {
    font-size: 36px;
    line-height: 1;
    color: #ffffff;
    padding-bottom: 10px;
  }
  
  .sound-name {
    font-size: 18px;
    line-height: 1;
    color: #ffdb4d;
    font-weight: bold;
    padding-top: 5px;
  }